<div class="container">
  <div class="row">
    <h1>Stupid Coaching</h1>
  </div>
  <div class="row foo-row">
    <span><p><%= @question %></p></span>
    <p><i>-You</i></p>
  </div>
  <div class="row foo-row bar-row">
    <span><p><%= @answer %></p></span>
    <p><i>-Your Coach</i></p>
  </div>
  <div class="row">
    <%= link_to "Ask a new question", ask_path%>
  </div>
</div>
